<form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
  <h2 class="login-header">Password Pro</h2>

  <!-- TODO refactor into its own component -->
  <section class="form-group">
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email">
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
      <span *ngIf="loginForm.get('email')?.errors?.['required']">
        Email is required.
      </span>
      <span *ngIf="loginForm.get('email')?.errors?.['email']">
        Email is invalid.
      </span>
    </div>
  </section>

  <section class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
      <span *ngIf="loginForm.get('password')?.errors?.['required']">
        Password is required.
      </span>
      <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
        Password must be at least 6 characters long.
      </span>
      <span *ngIf="loginForm.get('password')?.errors?.['maxlength']">
        Password cannot be longer than 20 characters.
      </span>
    </div>
  </section>

  <button type="submit" [disabled]="loginForm.invalid || isLoading" class="login-button">Login</button>

  <span *ngIf="errorMessage" class="error-message">{{ errorMessage }}</span>

  <div class="forgot-password">
    <a routerLink="/forgot-password">Forgot Password?</a>
  </div>
</form>