<nav>
  <div class="logo">
    <img src="assets/logo.png" alt="logo">
  </div>
  <div class="nav-links">
    <ul>
      <li *ngIf="!isLoggedIn">
        <a [routerLink]="['']">Home</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a [routerLink]="['/profile']">Profile</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a [routerLink]="['/register']">Register</a>
      </li>
    </ul>
  </div>
</nav>
