nav {
  position: sticky; 
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding: 5px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 30px;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #2196f3;
}

.nav-links li:last-child {
  margin-right: 0;
  margin-left: auto;
  padding-right: .25rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding-left: .5rem;
  text-align: center;
  cursor: default;
}